.vacancy-card {
  padding: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}

.vacancy-card__title {
  margin: 0 0 8px;
  color: #364fc7;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.vacancy-card__meta {
  margin-bottom: 8px;
}

.vacancy-card__salary {
  color: #0f0f10;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.vacancy-card__experience {
  color: #0f0f1080;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.vacancy-card__badge {
  width: fit-content;
  margin-bottom: 8px;
  font-family: Inter, sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.vacancy-card__badge--remote {
  color: #ffffff;
  background-color: #4263eb;
}

.vacancy-card__badge--office {
  color: #0f0f1080;
  background-color: #0f0f101a;
}

.vacancy-card__badge--hybrid {
  color: #ffffff;
  background-color: #0f0f1080;
}

.vacancy-card__company,
.vacancy-card__city {
  color: #0f0f1080;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.vacancy-card__city {
  margin-top: 0;
}

.vacancy-card__button {
  width: fit-content;
  height: 34px;
  margin-top: 14px;
  padding: 0 16px;
  color: #ffffff;
  background-color: #0f0f10;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
}

.vacancy-card__button:hover {
  background-color: #343a40;
}